@page
@model HoldemPageModel
@{
    ViewData["Title"] = "HoldemGame page";
}

<link rel="stylesheet" href="~/css/Games/holdem.css" />
<link rel="stylesheet" href="~/css/games.css" />
<div class="text-center">
    <p> Hello this is holdem page!</p>
    <div class="container" id="holdemView">
        <div class="row" id="gameRow">
            <div class="col">
                <div class="playerBox" id="player_1_box">
                    <h4 class="player_name" id="player_1_name"></h4>
                </div>
                <div>
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Player1_Card1" />
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Player1_Card2" />
                </div>
            </div>
            <div class="col">
                <div class="playerBox" id="player_2_box">
                    <h4 class="player_name" id="player_2_name"></h4>
                </div>
                <div>
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Player2_Card1" />
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Player2_Card2" />
                </div>
            </div>
        </div>
        <div class="row" id="tableRow">
            <div class="col">
                <h4>Table Cards</h4>
                <div>
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Table_Card1" />
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Table_Card2" />
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Table_Card3" />
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Table_Card4" />
                    <img src="~/img/Games/CardsResizing/BACK.png" class="playingCard" id="Table_Card5" />
                </div>
            </div>
        </div>
        <div class="row" id="matchInfoRow">
            <div class="col" id="winnerInfoContainer">
                <h4>Winners:</h4>
                <h5 id="winnerNameText"></h5>
                <h4>Combo:</h4>
                <h5 id="combinationName"></h5>
            </div>
        </div>
    </div>
    <script type="module" src="~/js/Games/gamesPrefsPreloader.js"></script>
    <script type="module" src="~/js/Games/Holdem/HoldemPage.js"></script>
</div>
