#holdemView {
    margin-top: 10%;
}

#playerImg {
    min-width: 50px;
    min-height: 50px;
    max-width: 100px;
    max-height: 100px;
}

#matchInfoRow {
    border: 5px solid #2a2a2a;
}

#winnerNameText, #combinationName {
    color: saddlebrown;
}


.playingCard {
    width: 50px;
}

